node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Environment variables
.env
.env.local

# Firebase config (optional - remove if you want to commit your config)
config/firebase.config.js
